.footer {
  width: 100%;
  display: block;
  line-height: 1.625;
  font-size: 14px;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  overflow: hidden;
  color: white;
  box-sizing: border-box;
  background-color: rgb(20, 20, 20);
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #24d65c;
}

.inside {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(20, 20, 20);
  z-index: 1;
  position: relative;
}

.top {
  max-width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  align-items: flex-start;
  column-gap: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .top {
    display: block;
  }

  .left {
    margin-bottom: 40px
  }
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 40px;
  z-index: 1;
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.certsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: 5px;
}

.socFig {
  margin: 0 2px 0 0;
  padding: 0;
  border: 0
}

.isoFig {
  margin: 0;
  padding: 0;
  border: 0
}

.socImg {
  width: 58px
}

.isoImg {
  width: 50px
}

.logo {
  margin: 0;
  padding: 0;
  border: 0
}

.footerBlurb {
  margin-bottom: 0;
  color: white;
}

.logoImg {
  width: 150px;
  height: 30px;
  vertical-align: middle;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  column-gap: 10px;
}

.firstColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 20px;
}

.firstTop {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}

.firstBottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}

.secondColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 10px;
}

.thirdColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 10px;
}

.headline {
  font-size: 18px;
  color: white;
}

.socialBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .5em;
  text-align: center;
  text-decoration: none;
  color: white;
}

.icon {
  line-height: 0;
}

.icon svg {
  height: 1em;
  width: 1em;
  fill: currentColor;
}

a.langIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: .5em;
  font-size: 14px;
  text-align: center;
  padding: 5px 10px;
  margin-top: 30px;
  border-radius: 32px;
  background-color: white;
  color: rgb(20, 20, 20);
  text-decoration: none;
}

a.langIcon:hover {
  background-color: #24d65c;
  color: white;
}